body	{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.container	{
	width: 300px;
	height: 350px;
	margin: auto;
	margin-top: 70px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);

}

input	{
	width: 200px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);

}

#submit	{
	background-color: blue;
}
#submit:hover	{
	background-color: cyan;
}

#profile	{
	display: none;
	width: 200px;
	heigth: 250px;
}